body{
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Estilos para cambiar el color de los enlaces del navbar */
.navbar a.nav-link,
.navbar a.navbar-brand {
    color: black !important; /* Cambia el color del texto a negro */
}

.navbar a.nav-link:hover,
.navbar a.navbar-brand:hover {
    color: black; /* Mantiene el negro al pasar el cursor */
}

.custom-background {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000000; /* Cambia el color del texto a negro */
    padding: 50px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
}

.btn-success {
    background-color: #007bff; /* Azul */
    border-color: #007bff; /* Azul */
    color: #ffffff; /* Texto blanco */
}

.btn-success:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
    border-color: #0056b3;
}

/* Código imagen placas */
.container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados */
}

.container ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.container ul li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}

.container ul li strong {
    color: #076585; /* Azul destacado para los títulos */
}
